<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='{% static "App_Folder_css/style.css" %}'/>

</head>
<body>
<div id="wrap">

    <h1><img src="{% static " images/app_top_logo.png"%}"></h1>

    <div id="main">
        <p>長島製作所 平泉工場
            <button type="button">チェックイン</button>
            <button type="button" onclick="location.href='https://goo.gl/maps/j2KecYnvQUk5rMo2A'">アクセス</button>
        </p>
        <p>中尊寺
            <button type="button">チェックイン</button>
            <button type="button" onclick="location.href='https://goo.gl/maps/Zww6Nqi4CuMYhrd87'">アクセス</button>
        </p>
        <p>毛越寺
            <button type="button">チェックイン</button>
            <button type="button" onclick="location.href='https://goo.gl/maps/sWofSv3WqVgQRQy87'">アクセス</button>
        </p>
        <p>観自在王院跡
            <button type="button">チェックイン</button>
            <button type="button" onclick="location.href='https://goo.gl/maps/KEPczxxwRaEZiu9q7'">アクセス</button>
        </p>
        <p>無量光院跡
            <button type="button">チェックイン</button>
            <button type="button" onclick="location.href='https://goo.gl/maps/34YomCBj9ZBRe4x96'">アクセス</button>
        </p>
        <p>金鶏山
            <button type="button">チェックイン</button>
            <button type="button" onclick="location.href='https://goo.gl/maps/Kz3dGdRmp1vcrLCk8'">アクセス</button>
        </p>
    </div>

    <p> ログアウトは
        <a href="">こちら</a>
    </p>
</div>
</body>
</html>